.progress-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-bottom:36px ;
}

.step-line {
  position: absolute;
  top: 30px; 
  width: 2px;
  height: 36px;
  background-color: #ccc;
  z-index: 0;
}
